__pycache__/
**/__pycache__/
*.py[cod]
*.so

.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.ipynb-checkpoint.*
*checkpoint*

*.swp
*.tmp
*.bak
*.orig

.DS_Store
**/.DS_Store

.env
.env.*
*.sqlite3

.vscode/
.idea/

.venv/
venv/
env/

**/documents_chroma_db/

environment.yml
